<!--footer bar begins Option #1-->
<!-- <footer class="footerbar" role="footer">
    <div class="footerbar-container light-grey-background">
        <div class="footer-container">
            <h2>Join CodeSquad's Boston Software Job Network:</h1> 

        <div class="footer-socialmedia">
            <h2>Follow us</h2>
            <a href="http://www.facebook.com/CodeSquadOrg"><i class="fab symbol fa-facebook-square"></i></a>
        </div>

        <div class="footer-signup">
            <form id ="signup_form" action="/signup" method="POST" target="_blank">
            <input type="text" name="Email Address" id="footer-emailaddress" placeholder="Email Address">
            </form>
        </div>

        <div class="footer-joinnow">
                <button id="footer-joinnow" class='btn btn-primary btn-large'>Join Now</button>  
        </div>  
        
        <div class="reserved">
            <h3>Copyright &#169; 2021| CodeSquad.org| All rights Reserved</h2>
        </div>

        </div>
    </div>
</footer> -->

<!--footer bar begins Option #2-->
<footer class="footerbar" role="footer">
    <div class="footerbar-container light-grey-background">
        <div class="footer-container">
            <a href="http://codesquad.org/" target="_blank" title="opens CodeSquad.org in a new tab">
                <img src="images/Codesquad-logo-large.png" alt="CodeSquad Logo">
            </a>

        <div class="footer-quicklinks">
                <div>
                    <h3>CodeSquad</h3>
                        <li><a href="#">About</a></li>
                </div>

                <div>
                    <h3>Organizations</h3>
                        <li><a href="#">All Organizations</a></li>
                        <li><a href="#">Add Organizations</a></li>
               </div>

                <div>
                    <h3>Cohorts</h3>
                        <li><a href="#">Current Cohorts</a></li>
                        <li><a href="#">Past Cohorts</a></li>
                </div>
        </div>

        <div class="footer-socialmedia">
            <h4>Follow us <a href="http://www.facebook.com/CodeSquadOrg"><i class="fab symbol fa-facebook-square"></i></a>
            </h4>
        </div>

        <div class="reserved">
            <h4>Copyright &#169; 2021| CodeSquad.org| All rights Reserved</h4>
        </div>

        </div>
    </div>
</footer>