<!--footer bar begins-->
<footer class="footerbar" role="footer">
    <div class="footerbar-container">
        <h2>Join CodeSquad's Boston Software Job Network:</h2> 
        <a href="/" target="_blank" title="opens BSJ's home page in a new tab">
        <img src="images/BSJ-logo.png" alt="BSJ Logo">
        </a>
 
    <div class="footer-socialmedia">
        <h2>Follow us:</h2>
        <a href="http://www.facebook.com/CodeSquadOrg"><i class="fab symbol fa-facebook-square"></i></a>
        <a href="https://www.linkedin.com/company/codesquad.org/"><i class="fab symbol fa-linkedin"></i></a>
    </div>
   
    <div class="footer-quicklinks-container">
        <ul class="footer-links">
            <strong>QuickLinks</strong>
            <li><a href="about-us">About Us</a></li>
           
            <li class="dropdown-footer">
                <a href="#" class="dropdown-toogle"data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                Organizations<span class="footer-org"></span></a> 
                <ul class="footer-dropdown-menu-org" id="footerOrgdropdown">
                    <li><a href="">All Organizations</a></li>
                    <li><a href="">An individual Organization</a></li>
                </ul>
            </li>
    <!-- if logged in only starts here-->
            <li>
                <a href="#" class="dropdown-toogle"data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                   Graduates<span class="footer-org"></span></a> 
                   <ul class="footer-dropdown-menu-org" id="footerOrgdropdown">
                    <li><a href="">Add a Company</a></li>
                    <li><a href="">Add an Experience</a></li>
                    </ul>
            </li> 
            <li class="dropdown-footer">
                <a href="#" class="dropdown-toogle"data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                Login<span class="footer-org"></span></a> 
                <ul class="footer-dropdown-menu-org" id="footerlogindropdown">
                    <li><a href="">User Profile</a></li>
                    <li><a href="">Forgot Password</a></li>
                </ul>
            </div>
        </ul> 
    </div>
     <!--if the user is not login starts here-->
    <!-- <div class="footer-signup">
        <form id ="form" action="/signup" method="POST" autocomplete="off">
        <input type="text" placeholder="Email Address" required>
        </form> 
    </div>

    <div class="footer-joinnow"> 
        <button id="footer-joinnow" class='btn btn-primary btn-large'>Join Now</button>  
    </div>  

    <div class="footer-login">
        <h4>Already have an account?</h4>
            <a href="login">Login Here</a>
    </div>    -->
    <!--if the user is not login ends here-->

    <div class="footer-account-profile">
        <h4>Welcome to Boston Software Jobs!</h4>
        <button id="footer-account-profile" class='btn btn-primary btn-large'>Sign Out</button>  
    </div>
        
    <div class="reserved">
        <h3>Copyright &#169; 2021| CodeSquad.org| All rights Reserved</h3>
    </div>  
     
   </div>

</footer>
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>
</html>