<!--footer bar begins-->
<footer class="footerbar" role="footer">
    <div class="footer-container">
        

        <div class="footer-columns">
            <div class="small-screen-container-1">
                <div class="footer-logo-container">
                    <a href="/" target="_blank" title="opens BSJ's home page in a new tab">
                        <img src="images/BSJ-logo.png" alt="BSJ Logo">
                    </a> 
                </div>
                
                <div class="footer-quicklinks-container">
                    <h5>Quick links</h5>
                    <ul class="footer-links">
                        <li><a href="about-us">About us</a></li>
                        <li><a href="Organizations">Organizations</a></li>
                        <li><a href="Graduates">Graduates</a></li>
                    </ul>
                </div>
                <div class="footer-quicklinks-container">
                    <h5>Are you a CodeSquad graduate? 
                        <!-- <br>Access your profile page: -->
                    </h5>
                    <ul>
                        <!-- <li><a href="/" class="footer-button">Access my profile</a></li> -->
                        <!-- text below should change from Login to Profile when a user is logged in -->
                        <li> <a href="/" class="footer-button">Login</a></li>
                    </ul>
                </div>
            </div>

            <div class="small-screen-container-2">
                <div class="footer-socialmedia">
                    <h5>Join us on social media:</h5>
                    <div class="footer-icons-container">
                        <a href="http://www.facebook.com/CodeSquadOrg"><i class="fab symbol fa-facebook-square"></i></a>
                        <a href="https://www.linkedin.com/company/codesquad.org/"><i class="fab symbol fa-linkedin"></i></a>
                    </div>
                    
                </div>
    
                <div class="footer-affiliate">
                    <h5>A project of:</h5>
                    <a href="http://codesquad.org/" target="_blank" title="opens CodeSquad.org in a new tab">
                        <img src="images/CodeSquad-logo-large-grey.png" alt="CodeSquad logo">
                    </a>
                </div>
            </div>
        </div>

            

            

        

        <div class="reserved">
            <br>
            <h3>Copyright &#169; CodeSquad 2020-2021. All rights reserved.</h3>
        </div>
    </div>
</footer>

<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
    integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
    crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
    integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
    crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
    integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
    crossorigin="anonymous"></script>
<script type="text/javascript" src="/scripts/scripts.js"></script>
</body>

</html>