<!--footer bar begins-->
<footer class="footerbar" role="footer">
    <div class="footerbar-container light-grey-background">
        <div class="footer-container">
            <h2>Join CodeSquad's Boston Software Job Network:</h2> 
            <a href="http://codesquad.org/" target="_blank" title="opens CodeSquad.org in a new tab">
            <img src="images/Codesquad-logo-large.png" alt="CodeSquad Logo">
            </a>

        <div class="footer-socialmedia">
            <h2>Follow us</h2>
            <a href="http://www.facebook.com/CodeSquadOrg"><i class="fab symbol fa-facebook-square"></i></a>
            <a href="https://www.linkedin.com/company/codesquad.org/"><i class="fab symbol fa-linkedin"></i></a>
        </div>

        <!--if the user is not login starts here-->
        <div class="footer-signup">
            <form id ="signup_form" action="/signup" method="POST" target="_blank">
            <input type="text" name="Email Address" id="footer-emailaddress" placeholder="Email Address">
            </form>
        </div>


        <div class="footer-joinnow">
            <button id="footer-joinnow" class='btn btn-primary btn-large'>Join Now</button>  
        </div>  

        <div class="footer-login">
            <h4>Already have an account?</h4><a href="login">Login Here</a>
        </div>
        <!--if the user is not login ends here-->

        <!--if the user is login starts here-->
        <!-- <div class="footer-account-profile">
            <h4>Welcome to Boston Software Job!</h4>
            <a class="logout" href="#">Sign Out</a>
        </div> -->
        <!--if the user is login starts here-->
        
        <div class="reserved">
            <h3>Copyright &#169; 2021| CodeSquad.org| All rights Reserved</h3>
        </div>
        
        <div class="footer-quicklinks">
            <div>
                <h3>CodeSquad</h3>
                    <li><a href="about-us">About</a></li>
            </div>

            <div>
                <h3>Organizations</h3>
                    <li><a href="organizations">All Organizations</a></li>
                    <li><a href="add-org">Add Organizations</a></li>
            </div>

            <div>
                <h3>Graduates</h3>
                    <li><a href="graduates">Graduates</a></li>
            </div>

        </div>
        </div>
    </div>
</footer>