<!--footer bar begins-->
<footer class="footerbar" role="footer">
    <div class="footer-container">
        <hr>
        <a href="/" target="_blank" title="opens BSJ's home page in a new tab">
        <img src="images/BSJ-logo.png" alt="BSJ Logo">
        </a>

        <div class="footer-quicklinks-container">
            <ul class="footer-links">
                <strong>Quick links</strong>
                <li><a href="about-us">About us</a></li>
                <li><a href="Organizations">Organizations</a></li>
                <li><a href="Graduates">Graduates</a></li>
            </ul>
        </div>
        <div class="footer-access">
            <h2>Are you a CodeSquad graduate?</h2>
            <h2>Access your profile page:</h2>
            <ul>
                <li><a href="/" class="footer-button">Access my profile</a></li>
                <li> <a href="/" class="footer-button">Login</a></li>
            </ul> 
        </div>
 
    <div class="footer-socialmedia">
        <h2>Join us on</h2>
        <h2>social media</h2>
        <a href="http://www.facebook.com/CodeSquadOrg"><i class="fab symbol fa-facebook-square"></i></a>
        <a href="https://www.linkedin.com/company/codesquad.org/"><i class="fab symbol fa-linkedin"></i></a>
    </div>

    <div class="footer-affiliate">
        <h4>A project of CodeSquad:</a></h4>
        <a href="http://codesquad.org/" target="_blank" title="opens CodeSquad.org in a new tab">
            <img src="images/CodeSquad-logo-large.png" alt="CodeSquad logo">
        </a>
    </div>
     
    <div class="reserved">
        <h3>Copyright &#169; 2020-2021| CodeSquad| All rights reserved</h3>
    </div>  
     
    </div>

</footer>
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
<script type="text/javascript" src="/scripts/scripts.js"></script>
</body>
</html>