<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Boston Software Jobs</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/CSS" href="./styles/styles.css">
    <script src="https://kit.fontawesome.com/0bf73eb96e.js" crossorigin="anonymous"></script>
</head>
<body>
<!-- Bootstrap Navbar starts Here -->
<nav class="navbar navbar-expand-lg navbar-light" style="background-color: white;">
    <a class="navbar-brand" href="/" title="goes to index page of BSWJ website">
        <img src="images/BSJ-logo.png" alt="Boston Software Jobs Logo" style="width: 120px">
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active pr-2">
                <a class="nav-link nav-links-container" href="/">HOME <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item pr-2">
                <a class="nav-link nav-links-container" href="about-us">ABOUT US</a>
            </li>
            <li class="nav-item dropdown pr-2">
                <a class="nav-link nav-links-container dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                ORGANIZATIONS
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item nav-links-container" href="organizations">SEE ALL ORGS</a>
                    <a class="dropdown-item nav-links-container" href="add-org">ADD AN ORG</a>
                </div>
            </li>
            <li class="nav-item">
                <a class="nav-link nav-links-container" href="graduates">GRADUATES</a>
            </li>
            <li class="nav-item">
                <a class="nav-link nav-links-container" href="login">LOGIN</a>
            </li>
        </ul>
        <form class="form-inline my-2 my-lg-0">
            <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
            <button type="button" class="btn btn-outline-dark">Search</button>
        </form>
    </div>
</nav>
<!-- Bootsrtap Navbar Ends Here -->
