<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Boston Software Jobs</title>
    <link rel="stylesheet" type="text/CSS" href="/styles/styles.css">
    <script src="https://kit.fontawesome.com/0bf73eb96e.js" crossorigin="anonymous"></script>
</head>
<body>
<!-- Navigation Bar Begins -->
    <nav class="navbar" role="navigation">
        <div class="navbar-logo-container-1">
            <a href="http://codesquad.org/" target="_blank" title="opens CodeSquad.org in a new tab">
                <img src="images/Codesquad-logo-large.png" alt="CodeSquad Logo">
            </a>
        </div>
        <div class="navbar-links-container-1">
            <a href="/">HOME</a>
            <a href="about-us">ABOUT US</a>
            <a href="organizations">ORGANIZATIONS</a>
            <a href="graduates">GRADUATES</a>
            <a href="login">LOGIN</a>
        </div>
    </nav>