<!-- Navbar -->
<%- include('../partials/header')-%>
<!-- Page Content Starts -->
   
    <div class="whole-width-content-container-with-image-about-us">
        <div class="three-quarters-width-content-container-text-over-img">
            <h1>BOSTON SOFTWARE JOBS</h1>
            <h1>A HUB FOR CODESQUAD ALUMNI</h1>
        </div>  
    </div>
    <div class="content-container-whole-page">
        <div class="content-container-width-70"> 
            <h1 class="text-center red-text">ABOUT US</h1>
            <p class="black-text font-size-130">
                Who we our.
                <br><br>
                What CodeSquad does. 
                <br><br>
                Our vision for this website.
            </p>
            <br><br>
        </div>
    </div>

<%- include('../partials/footer')-%>

