<!-- Navbar -->
<%- include('../partials/header')-%>
<!-- Page Content Starts -->
   
<div class="content-container-whole-page">
    <div class="content-container-width-70"> 
        <h1>ACCESS DENIED!!!!</h1>
        <p>Login with the correct GitHub account.</p>
    </div>
</div>

    

<%- include('../partials/footer')-%>