<!-- Navbar -->
<%- include('../partials/header')-%>
<!-- Page Content Starts -->


    <div class="addorg-container">
        <form action="/add-org" method="POST">
            <p>
                <label for="name">Organization name:<span class="required">*</span></label>
                <input type="text" name="name" class="form-control addorg" id="name" placeholder="Please input organization name.">
            </p>

            <p>
                <label for="url">Organization URL:<span class="required">*</span></label>
                <input type="text" name="url" class="form-control addorg" id="url" placeholder="Please input organization URL.">
            </p>

            <p class="addorg-logo">
                <label for="logo">Organization logo:</label>
                <input type="file" name="logo" class="form-control-file addorg-logo-upload" id="logo" placeholder="Default input">
            </p>

            <p>
                <button type="submit">Submit</button>
            </p>

        </form>
        
    </div>


<%- include('../partials/footer')-%>