<!-- Navbar -->
<%- include('../partials/header')-%>
<!-- Page Content Starts -->

<div class="addorg">
    <div class="addorgName">
        <h2>BSJ</h2>
    </div>

    <div class="addorgImage">
        <source srcset="images/BSJ-logo.png" type="image">
            <img src="images/BSJ-logo.png" class="img-fluid" alt="Responsive image">  
    </div>

    <div class="addorgHomepg">
        <a href="http://codesquad.org/">CodeSquad Homepage</a>
    </div>
</div>
<%- include('../partials/footer')-%>