<!-- Navbar -->
<%- include('../partials/header')-%>
<!-- Page Content Starts -->


    <div class="addorg-container">
        <form action="/add-org" method="POST">
            <p>
                <label for="orgName">Organization name:<span class="required">*</span></label>
                <input type="text" name="orgName" class="form-control addorg" id="orgName" placeholder="Please input organization name.">
            </p>

            <p>
                <label for="orgUrl">Organization URL:<span class="required">*</span></label>
                <input type="text" name="orgUrl" class="form-control addorg" id="orgUrl" placeholder="Please input organization URL.">
            </p>

            <p class="addorg-logo">
                <label for="orgLogo">Organization logo:</label>
                <input type="file" name="orgLogo" class="form-control-file addorg-logo-upload" id="orgLogo" placeholder="Default input">
            </p>

            <p>
                <button type="submit">Submit</button>
            </p>

        </form>
        
    </div>


<%- include('../partials/footer')-%>