<!-- Navbar -->
<%- include('../partials/header')-%>
<!-- Page Content Starts -->

<div class="addorg">
    <div class="addorgName">
        <h2>Wayfair</h2>
    </div>

    <div class="addorgImage">
        <a href="https://www.wayfair.com/" target="_blank" title="opens Wayfair's home page in a new tab">
            <img src="images/wayfair-logo.jpg" alt="Wayfair Logo"></a>
    </div>

    <div class="addorgHomepg">
        <a href="https://www.wayfair.com/">Wayfair Homepage</a>
    </div>

</div>
<%- include('../partials/footer')-%>
