<!-- Navbar -->
<%- include('../partials/header')-%>
<!-- Page Content Starts -->

<div class="add-user-form-main-container">
    <div class="container h-100 add-user-border">
        <div class="row h-100 justify-content-center align-items-center">
            <div class="col-10 col-md-8 col-lg-6">
                <!-- Form -->
                <form class="form" action="" method="post">
                    <h1>Add New User</h1>
                    <p class="description">Enter your contact information below to add a user.</p>
                    <!-- Input fields -->
                <div class="form-group">
                    <label for="email1">Email address</label>
                    <input type="email1" class="form-control" style="width:400px;" id="email1" aria-describedby="emailHelp" placeholder="Email">
                    <small id="emailHelp" class="form-text text-muted"></small>
                </div>
                <div class="form-group">
                    <label for="phoneNumber1">Phone Number</label>
                    <input type="phone-number1" class="form-control" style="width:400px;" id="phoneNumber1" placeholder="Phone Number">
                </div>
                <div class="form-group">
                    <label for="linkedin1">Linked In</label>
                    <input type="text" class="form-control" style="width:400px;" id="linkedin1" placeholder="LinkedIn">
                </div>
                <div class="form-group">
                    <label for="github1">Github</label>
                    <input type="text" class="form-control" style="width:400px;" id="github1" placeholder="Github">
                </div>
                <button type="submit" class="btn btn-primary">Submit</button> 
                    <!-- End input fields -->
                    <p class="copyright">&copy; Boston Software Jobs by <a href="https://www.codesquad.org">CodeSquad</a>.</p>
                </form>
                <!-- Form end -->
            </div>
        </div>
    </div>
</div>





