<!-- Navbar -->
<%- include('../partials/header')-%>
<!-- Page Content Starts -->

<form>
    <div class="addorg-container">
        <form action="">
            <p>
                <label for="">Organization name:<span class="required">*</span></label>
                <input type="text" class="form-control" id="addorg" placeholder="Please input organization name.">
            </p>

            <p>
                <label for="">Organization URL:<span class="required">*</span></label></label>
                <input type="text" class="form-control" id="addorg" placeholder="Please input organization URL.">
            </p>

            <p class="addorg-logo">
                <label for="">Organization logo:</label>
                <input type="file" class="form-control-file" id="addorg-logo-upload" placeholder="Default input">
            </p>

            <p>
                <button type="addorg-submit">Submit</button>
            </p>

        </form>
        <!-- <div class="addorg-name">
            <h2><label for="addorg-name">Organization name:<span class="required">*</span></label>
            <input type="text" class="form-control" id="addorg" placeholder="Please input organization name.">
            </h2>
        </div>

        <div class="addorg-URL">
            <h2><label for="addorg-url">Organization URL:<span class="required">*</span></label>
            <input type="text" class="form-control" id="addorg" placeholder="Please input organization name.">
            </h2>
        </div> -->

        <!-- <div class="addorg-logo">
            <h2><label for="addorg-logo">Organization logo:</label>
            <input type="file" class="form-control-file" id="addorg" placeholder="Default input">
            </h2>
        </div>

        <div class="addorg-submit">
            <button type="submit" class="btn btn-primary">Submit</button>
        </div> -->

    </div>
</form>

<%- include('../partials/footer')-%>