<!-- Navbar -->
<%- include('../partials/header')-%>
<!-- Page Content Starts -->
<br>
<br>
<br>
<br>
    <h1 class="error-number">404</h1>
    <h4 class="error-message">Error<br>The page you are looking for cannot be found.</h4>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>

<%- include('../partials/footer')-%>