<!-- Navbar -->
<%- include('../partials/header')-%>
<!-- Page Content Starts -->

<div id="forgotpwd-container">
    <div class="forgotpwd">
        <h2>Forgot your password?</h2>
        <h4>We can send you reset instructions.</h4>
        <br>
            <form id = "forgotpwd_form" action="/add" method="POST" autocomplete="off">
            <input type="text" name="emailaddress" id="forgotpwd-emailaddress" value="" placeholder= "Email Address" required>
            <br>
            </form>
    
    <div class="forgotpwd-reset">
        <button id="forgotpwd-reset" class='btn btn-primary btn-large'>Reset Password</button>
    </div>

    </div>

</div>

<%- include('../partials/footer')-%>
