<!-- Navbar -->
<%- include('../partials/header')-%>
<!-- Page Content Starts -->
<div class="whole-width-content-container-with-image-2">
    <div class="three-quarters-width-content-container-2">
        <h1 class="white-text">Explore Coding Jobs<br>Make Connections</h1>
        <p class="white-text">Find out where CodeSquad graduates are working and interviewing and make connections.</p>
    </div>  
</div>
    <p style="text-align: center;" class="black-text">Graduates Page - wouldn't have this picture, but wanted to show different options.</p>
<%- include('../partials/footer')-%>
</body>
</html>