<!-- Navbar -->
<%- include('../partials/header')-%>


<!-- Page Content Starts -->
<div class="content-container-whole-page">
    <div class="content-container-width-70">
        <h1 class="red-text text-center">CODESQUAD GRADS</h1>
        <br>
        <p class="font-size-130">Click on the plus button next to each graduate's name to see their contact information,
            bio, where they work, where they've worked in the past, and where they've interviewed. Use this page to
            reach out and network with past grads, especially if they've interviewed at an organization where you're
            interested in applying or if they've worked there in the past or work there presently.</p>
    </div>
    <br><br>
    <%- include('../partials/graduate-card')-%>
    <br><br><br><br><br>
</div>
<%- include('../partials/footer')-%>