<!-- Navbar -->
<%- include('../partials/header')-%>
<!-- Page Content Starts -->
    <div class="whole-width-content-container-with-image">
        <div class="three-quarters-width-content-container">
            <h1>Explore Coding Jobs<br>Make Connections</h1>
            <p>Find out where CodeSquad graduates are working and interviewing and make connections.</p>
        </div>  
    </div>
    <h1>Explanation of the site functions would go here.</h1>
</body>
</html>