<!-- Navbar -->
<%- include('../partials/header')-%>
<!-- Page Content Starts -->
    <div class="whole-width-content-container-with-image">
        <div class="three-quarters-width-content-container-text-over-img">
            <h1>Explore Coding Jobs<br>Make Connections</h1>
            <p>Find out where CodeSquad graduates are working and interviewing and make connections.</p>
        </div>  
    </div>
    <div class="content-container-whole-page">
        <div class="content-container-width-70"> 
            <br><br>
            <h1 class="text-center red-text">ABOUT THE BOSTON SOFTWARE JOBS WEBSITE</h1>
            <p class="black-text font-size-130">
                The Boston Software Jobs project is a space for CodeSquad bootcamp graduates to network with fellow alumni. You must be a CodeSquad graduate and sign in to access the Organizations and the Graduates pages. 
                <br><br>
                The Organizations page includes a list of companies where CodeSquad alumni have connections. For each organization, graduates can view information about who currently works there, who has has worked there in the past, and who has interviewed there. 
                <br><br>
                The Graduates page includes contact information for CodeSquad alumni. Graduates who wish to update their work experiences, contact information, and interviewing experiences can do so by navigating to the the Profile page after logging in.
            </p>
            <br><br>
        </div>
    </div>
</body>
</html>