<!DOCTYPE html>
<!-- Navbar -->
<%- include('../partials/header')-%>
<!-- Page Content Starts -->
<div class="org-card-main-container">
    <div class="org-card-name-logo-container">
        <div class="org-card-name"><h1>
            
        </h1></div>
        <div class="org-card-logo">
            <img src="./images/wayfair-logo.jpg" alt="wayfair Logo" width="100px" height="100px">
        </div>
    </div>
    <h4>Who Works Here</h4>
    <ul class="org-card">
        <li><a href="">First and Last Name</a></li>
        <li><a href="">First and Last Name</a></li>
        <li><a href="">First and Last Name</a></li>
        <li><a href="">First and Last Name</a></li>
        <li><a href="">First and Last Name</a></li>
    
    </ul>
    <h4>Who Has Worked Here</h4>
    <ul class="org-card">
        <li><a href="">First and Last Name</a></li>
        <li><a href="">First and Last Name</a></li>
        <li><a href="">First and Last Name</a></li>
    </ul>
    <h4>Who Has Interviewed Here</h4>
    <ul class="org-card">
        <li><a href="">First and Last Name</a></li>
        <li><a href="">First and Last Name</a></li>
        <li><a href="">First and Last Name</a></li>
    </ul>
    <h4>Interviewing Insights</h4>
    <ul>
        <li>Brief description of the hiring process</li> 
        <li>interviewing questions</li>
        <li>whiteboard challenges</li> 
        <li>etc...</li>
    </ul>

    <div class="org-card-buttons-container">
        <button type="button" class="btn btn-secondary">See Open Positions</button>
        <button type="button" class="btn btn-secondary">I work here now</button>
        <button type="button" class="btn btn-secondary">I used to Work Here</button>
        <button type="button" class="btn btn-secondary">I Interviewed Here</button>

    </div>
</div> 
<%- include('../partials/footer')-%>
