<!-- Navbar -->
<%- include('../partials/header')-%>
<!-- Page Content Starts -->
<div class="content-container-whole-page">
    <div class="content-container-width-70">
        <h1 class="red-text text-center">ORGANIZATIONS</h1>
        <br>
        <p class="font-size-130">Click on the plus button next to each organization's logo to see if any CodeSquad graduates work there, have worked there in the past, and/or have interviewed there. Graduate-submitted insights into the interviewing process are included if that information is available. Additionally, there is a button at the bottom that will take you  to the organization's open positions page. There are three other buttons that will allow you to add yourself to any of three lists if you work at this organization currently, have worked there in the past, and/or have interviewed there.</p>
    </div>
    <!-- THE FOLLOWING DIV CAN BE TURNED INTO A PARTIAL AND A LOOP CAN BE USED HERE TO ACCESS NAMES, LOGO, AND THE ARRAYS OF GRADS FOR EACH LIST FROM THE DATABASE -->
    <div class="content-container-width-70 border-black-1pt">
        <div class="container-whole-width-row container-modification-height-120">
            <h2 class="red-text text-center">athenahealth</h2>
            <div class="image-organizations-logo">
                <img src="/images/logo-athenahealth.png" alt="athenahealth logo">
            </div>
            <button type="button" class="collapsible-button">+</button>
        </div>
        <div class="content">
            <div class="container-collapsible-content">
                <div class="container-collapsible-column">
                    <h4 class="red-text">WHO WORKS HERE</h4>
                    <ul>
                        <a href="#"><li>Name link</li></a>
                        <a href="#"><li>Name link</li></a>
                    </ul>
                    <h4 class="red-text">WHO HAS WORKED HERE</h4>
                    <ul>
                        <a href="#"><li>Name link</li></a>
                        <a href="#"><li>Name link</li></a>
                        <a href="#"><li>Name link</li></a>
                    </ul>
                    <h4 class="red-text">WHO HAS INTERVIEWED HERE</h4>
                    <ul>
                        <a href="#"><li>Name link</li></a>
                        <a href="#"><li>Name link</li></a>
                        <a href="#"><li>Name link</li></a>
                        <a href="#"><li>Name link</li></a>
                        <a href="#"><li>Name link</li></a>
                    </ul>
                </div>
                <div class="container-collapsible-column">
                    <h4 class="red-text">INTERVIEWING INSIGHTS</h4>
                    <p>Breif Description of: hiring process | interviewing questions | whiteboard challenge | other relevant information. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu</p>
                    <button type="button" class="container-organization-card-buttons"><a target="_blank" href="https://athenahealth.wd1.myworkdayjobs.com/External/18/refreshFacet/318c8bb6f553100021d223d9780d30be">SEE OPEN<br>POSITIONS</a></button>
                </div>
            </div>
            <div class="container-collapsible-row">
                <h4 class="red-text text-center">ADD YOURSELF TO THE LISTS ABOVE</h4>
            </div>
            <div class="container-collapsible-row">
                <button type="button" class="container-organization-card-buttons" onclick="confirmAddWorkHere()">
                    I WORK HERE
                </button>
                <button type="button" class="container-organization-card-buttons" onclick="confirmAddWorkedHere()">
                    I WORKED HERE
                </button>
                <button type="button" class="container-organization-card-buttons" onclick="confirmInterviewHere()">
                    I INTERVIEWED HERE
                </button>
            </div>
        </div>
    </div>


    <!-- CAN BE REMOVED WHEN DATABASE IS SET UP, THE FIRST DIV IS TURNED INTO A PARTIAL, AND A LOOP IS IMPLEMENTED INTO THIS EJS FILE TO AUTO FILL THE ORGANIZATION DETAILS -->
    <div class="content-container-width-70 border-black-1pt">
        <div class="container-whole-width-row container-modification-height-120">
            <h2 class="red-text text-center">CyberGrants</h2>
            <div class="image-organizations-logo">
                <img src="/images/logo-CyberGrants.png" alt="CyberGrants logo">
            </div>
            <button type="button" class="collapsible-button">+</button>
        </div>
        <div class="content">
            <div class="container-collapsible-content">
                <div class="container-collapsible-column">
                    <h4 class="red-text">WHO WORKS HERE</h4>
                    <ul>
                        <a href="#"><li>Name link</li></a>
                        <a href="#"><li>Name link</li></a>
                    </ul>
                    <h4 class="red-text">WHO HAS WORKED HERE</h4>
                    <ul>
                        <a href="#"><li>Name link</li></a>
                        <a href="#"><li>Name link</li></a>
                        <a href="#"><li>Name link</li></a>
                    </ul>
                    <h4 class="red-text">WHO HAS INTERVIEWED HERE</h4>
                    <ul>
                        <a href="#"><li>Name link</li></a>
                        <a href="#"><li>Name link</li></a>
                        <a href="#"><li>Name link</li></a>
                        <a href="#"><li>Name link</li></a>
                        <a href="#"><li>Name link</li></a>
                    </ul>
                </div>
                <div class="container-collapsible-column">
                    <h4 class="red-text">INTERVIEWING INSIGHTS</h4>
                    <p>Breif Description of: hiring process | interviewing questions | whiteboard challenge | other relevant information. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu</p>
                    <button type="button" class="container-organization-card-buttons"><a target="_blank" href="https://impact.cybergrants.com/careers/">SEE OPEN<br>POSITIONS</a></button>
                </div>
            </div>
            <div class="container-collapsible-row">
                <h4 class="red-text text-center">ADD YOURSELF TO THE LISTS ABOVE</h4>
            </div>
            <div class="container-collapsible-row">
                <button type="button" class="container-organization-card-buttons" onclick="confirmAddWorkHere()">
                    I WORK HERE
                </button>
                <button type="button" class="container-organization-card-buttons" onclick="confirmAddWorkedHere()">
                    I WORKED HERE
                </button>
                <button type="button" class="container-organization-card-buttons" onclick="confirmInterviewHere()">
                    I INTERVIEWED HERE
                </button>
            </div>
        </div>
    </div>

    <!-- CAN BE REMOVED WHEN DATABASE IS SET UP, THE FIRST DIV IS TURNED INTO A PARTIAL, AND A LOOP IS IMPLEMENTED INTO THIS EJS FILE TO AUTO FILL THE ORGANIZATION DETAILS -->
    <div class="content-container-width-70 border-black-1pt">
        <div class="container-whole-width-row container-modification-height-120">
            <h2 class="red-text text-center">eXalt Solutions</h2>
            <div class="image-organizations-logo">
                <img src="/images/logo-eXaltSolutions.gif" alt="eXalt Solutions logo">
            </div>
            <button type="button" class="collapsible-button">+</button>
        </div>
        <div class="content">
            <div class="container-collapsible-content">
                <div class="container-collapsible-column">
                    <h4 class="red-text">WHO WORKS HERE</h4>
                    <ul>
                        <a href="#"><li>Name link</li></a>
                        <a href="#"><li>Name link</li></a>
                    </ul>
                    <h4 class="red-text">WHO HAS WORKED HERE</h4>
                    <ul>
                        <a href="#"><li>Name link</li></a>
                        <a href="#"><li>Name link</li></a>
                        <a href="#"><li>Name link</li></a>
                    </ul>
                    <h4 class="red-text">WHO HAS INTERVIEWED HERE</h4>
                    <ul>
                        <a href="#"><li>Name link</li></a>
                        <a href="#"><li>Name link</li></a>
                        <a href="#"><li>Name link</li></a>
                        <a href="#"><li>Name link</li></a>
                        <a href="#"><li>Name link</li></a>
                    </ul>
                </div>
                <div class="container-collapsible-column">
                    <h4 class="red-text">INTERVIEWING INSIGHTS</h4>
                    <p>Breif Description of: hiring process | interviewing questions | whiteboard challenge | other relevant information. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu</p>
                    <button type="button" class="container-organization-card-buttons"><a target="_blank" href="https://www.glassdoor.com/Jobs/eXalt-Solutions-Jobs-E454748.htm">SEE OPEN<br>POSITIONS</a></button>
                </div>
            </div>
            <div class="container-collapsible-row">
                <h4 class="red-text text-center">ADD YOURSELF TO THE LISTS ABOVE</h4>
            </div>
            <div class="container-collapsible-row">
                <button type="button" class="container-organization-card-buttons" onclick="confirmAddWorkHere()">
                    I WORK HERE
                </button>
                <button type="button" class="container-organization-card-buttons" onclick="confirmAddWorkedHere()">
                    I WORKED HERE
                </button>
                <button type="button" class="container-organization-card-buttons" onclick="confirmInterviewHere()">
                    I INTERVIEWED HERE
                </button>
            </div>
        </div>
    </div>

    <!-- CAN BE REMOVED WHEN DATABASE IS SET UP, THE FIRST DIV IS TURNED INTO A PARTIAL, AND A LOOP IS IMPLEMENTED INTO THIS EJS FILE TO AUTO FILL THE ORGANIZATION DETAILS -->
    <div class="content-container-width-70 border-black-1pt">
        <div class="container-whole-width-row container-modification-height-120">
            <h2 class="red-text text-center">Harvard University</h2>
            <div class="image-organizations-logo">
                <img src="/images/logo-Harvard.png" alt="Harvard University Information Technology logo">
            </div>
            <button type="button" class="collapsible-button">+</button>
        </div>
        <div class="content">
            <div class="container-collapsible-content">
                <div class="container-collapsible-column">
                    <h4 class="red-text">WHO WORKS HERE</h4>
                    <ul>
                        <a href="#"><li>Name link</li></a>
                        <a href="#"><li>Name link</li></a>
                    </ul>
                    <h4 class="red-text">WHO HAS WORKED HERE</h4>
                    <ul>
                        <a href="#"><li>Name link</li></a>
                        <a href="#"><li>Name link</li></a>
                        <a href="#"><li>Name link</li></a>
                    </ul>
                    <h4 class="red-text">WHO HAS INTERVIEWED HERE</h4>
                    <ul>
                        <a href="#"><li>Name link</li></a>
                        <a href="#"><li>Name link</li></a>
                        <a href="#"><li>Name link</li></a>
                        <a href="#"><li>Name link</li></a>
                        <a href="#"><li>Name link</li></a>
                    </ul>
                </div>
                <div class="container-collapsible-column">
                    <h4 class="red-text">INTERVIEWING INSIGHTS</h4>
                    <p>Breif Description of: hiring process | interviewing questions | whiteboard challenge | other relevant information. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu</p>
                    <button type="button" class="container-organization-card-buttons"><a target="_blank" href="https://sjobs.brassring.com/TGnewUI/Search/Home/HomeWithPreLoad?partnerid=25240&siteid=5341&PageType=searchResults&SearchType=linkquery&LinkID=104825#keyWordSearch=&locationSearch=">SEE OPEN<br>POSITIONS</a></button>
                </div>
            </div>
            <div class="container-collapsible-row">
                <h4 class="red-text text-center">ADD YOURSELF TO THE LISTS ABOVE</h4>
            </div>
            <div class="container-collapsible-row">
                <button type="button" class="container-organization-card-buttons" onclick="confirmAddWorkHere()">
                    I WORK HERE
                </button>
                <button type="button" class="container-organization-card-buttons" onclick="confirmAddWorkedHere()">
                    I WORKED HERE
                </button>
                <button type="button" class="container-organization-card-buttons" onclick="confirmInterviewHere()">
                    I INTERVIEWED HERE
                </button>
            </div>
        </div>
    </div>

    <!-- CAN BE REMOVED WHEN DATABASE IS SET UP, THE FIRST DIV IS TURNED INTO A PARTIAL, AND A LOOP IS IMPLEMENTED INTO THIS EJS FILE TO AUTO FILL THE ORGANIZATION DETAILS -->
    <div class="content-container-width-70 border-black-1pt">
        <div class="container-whole-width-row container-modification-height-120">
            <h2 class="red-text text-center container-content-mod-margin-side-10">Liberty Mutual</h2>
            <div class="image-organizations-logo container-content-mod-margin-side-10">
                <img src="/images/logo-Liberty-Mutual.png" alt="Liberty Mutual logo">
            </div>
            <button type="button" class="collapsible-button container-content-mod-margin-side-10">+</button>
        </div>
        <div class="content">
            <div class="container-collapsible-content">
                <div class="container-collapsible-column">
                    <h4 class="red-text">WHO WORKS HERE</h4>
                    <ul>
                        <a href="#"><li>Name link</li></a>
                        <a href="#"><li>Name link</li></a>
                    </ul>
                    <h4 class="red-text">WHO HAS WORKED HERE</h4>
                    <ul>
                        <a href="#"><li>Name link</li></a>
                        <a href="#"><li>Name link</li></a>
                        <a href="#"><li>Name link</li></a>
                    </ul>
                    <h4 class="red-text">WHO HAS INTERVIEWED HERE</h4>
                    <ul>
                        <a href="#"><li>Name link</li></a>
                        <a href="#"><li>Name link</li></a>
                        <a href="#"><li>Name link</li></a>
                        <a href="#"><li>Name link</li></a>
                        <a href="#"><li>Name link</li></a>
                    </ul>
                </div>
                <div class="container-collapsible-column">
                    <h4 class="red-text">INTERVIEWING INSIGHTS</h4>
                    <p>Breif Description of: hiring process | interviewing questions | whiteboard challenge | other relevant information. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu</p>
                    <button type="button" class="container-organization-card-buttons"><a target="_blank" href="https://jobs.libertymutualgroup.com/search-jobs/?category[]=Digital%20Customer%20Experience&category[]=Technology">SEE OPEN<br>POSITIONS</a></button>
                </div>
            </div>
            <div class="container-collapsible-row">
                <h4 class="red-text text-center">ADD YOURSELF TO THE LISTS ABOVE</h4>
            </div>
            <div class="container-collapsible-row">
                <button type="button" class="container-organization-card-buttons" onclick="confirmAddWorkHere()">
                    I WORK HERE
                </button>
                <button type="button" class="container-organization-card-buttons" onclick="confirmAddWorkedHere()">
                    I WORKED HERE
                </button>
                <button type="button" class="container-organization-card-buttons" onclick="confirmInterviewHere()">
                    I INTERVIEWED HERE
                </button>
            </div>
        </div>
    </div>

    <!-- CAN BE REMOVED WHEN DATABASE IS SET UP, THE FIRST DIV IS TURNED INTO A PARTIAL, AND A LOOP IS IMPLEMENTED INTO THIS EJS FILE TO AUTO FILL THE ORGANIZATION DETAILS -->
    <div class="content-container-width-70 border-black-1pt">
        <div class="container-whole-width-row container-modification-height-120">
            <h2 class="red-text text-center container-content-mod-margin-side-10">Rapid7</h2>
            <div class="image-organizations-logo container-content-mod-margin-side-10">
                <img src="/images/logo-Rapid7.png" alt="Rapid7 logo">
            </div>
            <button type="button" class="collapsible-button container-content-mod-margin-side-10">+</button>
        </div>
        <div class="content">
            <div class="container-collapsible-content">
                <div class="container-collapsible-column">
                    <h4 class="red-text">WHO WORKS HERE</h4>
                    <ul>
                        <a href="#"><li>Name link</li></a>
                        <a href="#"><li>Name link</li></a>
                    </ul>
                    <h4 class="red-text">WHO HAS WORKED HERE</h4>
                    <ul>
                        <a href="#"><li>Name link</li></a>
                        <a href="#"><li>Name link</li></a>
                        <a href="#"><li>Name link</li></a>
                    </ul>
                    <h4 class="red-text">WHO HAS INTERVIEWED HERE</h4>
                    <ul>
                        <a href="#"><li>Name link</li></a>
                        <a href="#"><li>Name link</li></a>
                        <a href="#"><li>Name link</li></a>
                        <a href="#"><li>Name link</li></a>
                        <a href="#"><li>Name link</li></a>
                    </ul>
                </div>
                <div class="container-collapsible-column">
                    <h4 class="red-text">INTERVIEWING INSIGHTS</h4>
                    <p>Breif Description of: hiring process | interviewing questions | whiteboard challenge | other relevant information. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu</p>
                    <button type="button" class="container-organization-card-buttons"><a target="_blank" href="https://www.builtinboston.com/company/rapid7/jobs">SEE OPEN<br>POSITIONS</a></button>
                </div>
            </div>
            <div class="container-collapsible-row">
                <h4 class="red-text text-center">ADD YOURSELF TO THE LISTS ABOVE</h4>
            </div>
            <div class="container-collapsible-row">
                <button type="button" class="container-organization-card-buttons" onclick="confirmAddWorkHere()">
                    I WORK HERE
                </button>
                <button type="button" class="container-organization-card-buttons" onclick="confirmAddWorkedHere()">
                    I WORKED HERE
                </button>
                <button type="button" class="container-organization-card-buttons" onclick="confirmInterviewHere()">
                    I INTERVIEWED HERE
                </button>
            </div>
        </div>
    </div>

    <!-- CAN BE REMOVED WHEN DATABASE IS SET UP, THE FIRST DIV IS TURNED INTO A PARTIAL, AND A LOOP IS IMPLEMENTED INTO THIS EJS FILE TO AUTO FILL THE ORGANIZATION DETAILS -->
    <div class="content-container-width-70 border-black-1pt">
        <div class="container-whole-width-row container-modification-height-120">
            <h2 class="red-text text-center container-content-mod-margin-side-10">Tripadvisor</h2>
            <div class="image-organizations-logo container-content-mod-margin-side-10">
                <img src="/images/logo-Tripadvisor.png" alt="Tripadvisor logo">
            </div>
            <button type="button" class="collapsible-button container-content-mod-margin-side-10">+</button>
        </div>
        <div class="content">
            <div class="container-collapsible-content">
                <div class="container-collapsible-column">
                    <h4 class="red-text">WHO WORKS HERE</h4>
                    <ul>
                        <a href="#"><li>Name link</li></a>
                        <a href="#"><li>Name link</li></a>
                    </ul>
                    <h4 class="red-text">WHO HAS WORKED HERE</h4>
                    <ul>
                        <a href="#"><li>Name link</li></a>
                        <a href="#"><li>Name link</li></a>
                        <a href="#"><li>Name link</li></a>
                    </ul>
                    <h4 class="red-text">WHO HAS INTERVIEWED HERE</h4>
                    <ul>
                        <a href="#"><li>Name link</li></a>
                        <a href="#"><li>Name link</li></a>
                        <a href="#"><li>Name link</li></a>
                        <a href="#"><li>Name link</li></a>
                        <a href="#"><li>Name link</li></a>
                    </ul>
                </div>
                <div class="container-collapsible-column">
                    <h4 class="red-text">INTERVIEWING INSIGHTS</h4>
                    <p>Breif Description of: hiring process | interviewing questions | whiteboard challenge | other relevant information. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu</p>
                    <button type="button" class="container-organization-card-buttons"><a target="_blank" href="https://careers.tripadvisor.com/">SEE OPEN<br>POSITIONS</a></button>
                </div>
            </div>
            <div class="container-collapsible-row">
                <h4 class="red-text text-center">ADD YOURSELF TO THE LISTS ABOVE</h4>
            </div>
            <div class="container-collapsible-row">
                <button type="button" class="container-organization-card-buttons" onclick="confirmAddWorkHere()">
                    I WORK HERE
                </button>
                <button type="button" class="container-organization-card-buttons" onclick="confirmAddWorkedHere()">
                    I WORKED HERE
                </button>
                <button type="button" class="container-organization-card-buttons" onclick="confirmInterviewHere()">
                    I INTERVIEWED HERE
                </button>
            </div>
        </div>
    </div>

    <!-- CAN BE REMOVED WHEN DATABASE IS SET UP, THE FIRST DIV IS TURNED INTO A PARTIAL, AND A LOOP IS IMPLEMENTED INTO THIS EJS FILE TO AUTO FILL THE ORGANIZATION DETAILS -->
    <div class="content-container-width-70 border-black-1pt">
        <div class="container-whole-width-row container-modification-height-120">
            <h2 class="red-text text-center">Wayfair</h2>
            <div class="image-organizations-logo">
                <img src="/images/logo-Wayfair.jpg" alt="Wayfair logo">
            </div>
            <button type="button" class="collapsible-button">+</button>
        </div>
        <div class="content">
            <div class="container-collapsible-content">
                <div class="container-collapsible-column">
                    <h4 class="red-text">WHO WORKS HERE</h4>
                    <ul>
                        <a href="#"><li>Name link</li></a>
                        <a href="#"><li>Name link</li></a>
                    </ul>
                    <h4 class="red-text">WHO HAS WORKED HERE</h4>
                    <ul>
                        <a href="#"><li>Name link</li></a>
                        <a href="#"><li>Name link</li></a>
                        <a href="#"><li>Name link</li></a>
                    </ul>
                    <h4 class="red-text">WHO HAS INTERVIEWED HERE</h4>
                    <ul>
                        <a href="#"><li>Name link</li></a>
                        <a href="#"><li>Name link</li></a>
                        <a href="#"><li>Name link</li></a>
                        <a href="#"><li>Name link</li></a>
                        <a href="#"><li>Name link</li></a>
                    </ul>
                </div>
                <div class="container-collapsible-column">
                    <h4 class="red-text">INTERVIEWING INSIGHTS</h4>
                    <p>Breif Description of: hiring process | interviewing questions | whiteboard challenge | other relevant information. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu</p>
                    <button type="button" class="container-organization-card-buttons"><a target="_blank" href="https://www.wayfair.com/careers/jobs/?teamIds=1&gh_src=">SEE OPEN<br>POSITIONS</a></button>
                </div>
            </div>
            <div class="container-collapsible-row">
                <h4 class="red-text text-center">ADD YOURSELF TO THE LISTS ABOVE</h4>
            </div>
            <div class="container-collapsible-row">
                <button type="button" class="container-organization-card-buttons" onclick="confirmAddWorkHere()">
                    I WORK HERE
                </button>
                <button type="button" class="container-organization-card-buttons" onclick="confirmAddWorkedHere()">
                    I WORKED HERE
                </button>
                <button type="button" class="container-organization-card-buttons" onclick="confirmInterviewHere()">
                    I INTERVIEWED HERE
                </button>
            </div>
        </div>
    </div>
    

    <br><br><br><br>
</div>





<%- include('../partials/footer')-%>
