<!DOCTYPE html>
<!-- Navbar -->
<%- include('../partials/header-3')-%>
<!-- Page Content Starts -->
    <div class="whole-width-content-container-with-image-3">
        <div class="three-quarters-width-content-container-3">
            <h1 class="white-text">Explore Coding Jobs<br>Make Connections</h1>
            <p class="white-text">Find out where CodeSquad graduates are working and interviewing and make connections.</p>
        </div>  
    </div>
        <p style="text-align: center;" class="white-text">Organizations Page - wouldn't have this picture, but wanted to show different options.</p>
</body>
</html>