body {
    background-color:rgb(234, 234, 234);
}

.login-main-container {
    width: 50%;
    text-align: center;
    margin: auto;
    background-color: white;
    border: 1px solid grey;
    margin-top: 50px;
    padding-top: 10px;
}
i {
    color: rgb(203, 53, 36);
}
a {
    color: rgb(160, 160, 158);
}
