/* Variables */
:root {
    --red: #CB352A;
    --light-grey: #A0A09E;
    --dark-grey: #343434;
    --white: #ffffff;
    --black: #000000;
    --light-light-grey: #f1f1f1;
  }


  body {
    background-color: var(--white);
    size: 100%;
    padding: 0;
    margin: 0;
    font-family: Lato, sans-serif;
}


/* Background and Text Classes */

.red-text {
    color: var(--red);
}

.white-text {
    color: var(--white);
}

.dark-grey-text {
    color: var(--dark-grey);
}

.light-grey-text {
    color: var(--light-grey);
}

.black-text {
    color: var(--black);
}

.red-background {
    background-color: var(--red);
}

.white-background {
    background-color: var(--white);
}

.dark-grey-background {
    background-color: var(--dark-grey);
}

.light-grey-background {
    background-color: var(--light-grey);
}

.black-background {
    background-color: var(--black);
}

.text-center {
    text-align: center;
}

.text-left {
    text-align: left;
}

.font-size-130 {
    font-size: 130%;
}

.border-black-1pt {
    border: 1pt solid var(--black);
}

/* Navbar */
.navbar-container {
    display: flex;
    width: 100%;
}

.navbar-logo-container {
    display: flex;
    justify-content: center;
    width: 20%;
    padding: 10px 0;
}

.navbar-logo-container img {
    width: 120px;
    height: 90px;
}

.navbar-links-container {
    display: flex;
    justify-content: flex-end;
    width: 80%;
    align-items: center;
    margin-right: 20px;
}

.navbar-links-container a {
    margin: 10px 10px;
    padding: 5px;
}

.navbar-links-container a:link,
.navbar-links-container a:visited {
    color: var(--dark-grey);
    text-decoration: none;
}

.navbar-links-container a:hover,
.navbar-links-container a:focus,
.navbar-links-container a:active {
    color: var(--red);
    font-weight: bold;
    text-decoration: none;
    border-bottom: 2px solid;
}

.navbar-dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    z-index: 1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px;
}

.navbar-dropdown:hover {
    color: var(--red);
    font-weight: bold;
    text-decoration: none;
    border-bottom: 2px solid;
}

.navbar-dropdown:hover .dropdown-content {
    color: var(--red);
    font-weight: bold;
    text-decoration: none;
    display: block;  
}

.navbar-sub-logo-container {
    display: flex;
    justify-content: center;
    width: 20%;
    padding-top: 35px;
}

.navbar-sub-logo-container img{
    width: 90px;
    height: 30px;
}

/* Bootstrap Navbar */
.navbar-brand {
    margin-right: 50px;
}
.navbar-codesquad-logo-container {
    margin-left: 20px;
    margin-right: 10px;
}
.navbar-codesquad-logo-container img{
    width: 90px;
    height: 40px;
}


/* Containers */
.whole-width-content-container-with-image {
    display: flex;
    justify-content: center;
    background-image: url(../images/homepage-image.jpg);
    width: 100%;
    height: 500px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.whole-width-content-container-with-image-about-us {
    display: flex;
    justify-content: center;
    background-image: url(../images/about-us-image.png);
    width: 100%;
    height: 500px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.three-quarters-width-content-container-text-over-img {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 75%;
    font-size: 200%;
    color: var(--white);
    text-align: center;
    text-shadow: 2px 2px 30px var(--red);
}


/* Footer begins here */
.footerbar-container{
    background-color: var(--light-grey);
    height: auto;
    width: auto;
}

.footerbar-container h2{
    margin: 0px 0px 0px 32px;
}

.footerbar-container img{
    width: 180px;
    height: 150px;
    margin: 25px 15px 0px 35px;
}

.footer-socialmedia{
    margin: -110px 0px 0px 1035px;  
    padding: 2px; 
}

.footer-socialmedia > h2{
    color: var(--black);
    margin: 0px 35px 0px 0px;
}

.footer-socialmedia .symbol{
    margin: 5px;
    font-size: 40px;
}

.footer-quicklinks-container {
    display: flex;
    justify-content: center;
    margin: -115px 85px 0px 0px;
    padding: 2px;
}

.footer-quicklinks-container a {
    display: list-item;
    justify-content: space-evenly;
    text-align: left;
    text-decoration: none;
    color: var(--black);
    margin: 3px;
}

.footer-quicklinks-container a:hover,
.footer-quicklinks-container a:focus,
.footer-quicklinks-container a:active {
    color: var(--red);
    font-weight: bold;
    text-decoration: none;
    border-bottom: solid;
}


/*footer user logged out css begins here*/
.footer-signup{
    display: flex;
    justify-content: space-evenly;
    margin: 85px 1100px 25px 0px;
    padding: 3px;
} 

.footer-signup input{
    width: 100%;
	padding: 10px;
	border: 1px solid #ccc;
	border-radius: 4px;
	box-sizing: border-box;
	margin-top: 1px;
	margin-bottom: 16px;
    font-weight: bold;
}
#footer-joinnow {
    display: flex;
    margin: -80px 0px 10px 285px;
	padding: 10px 15px;
	border: none;
	border-radius: 4px;
    cursor: pointer;
    font-weight: bold;  
}   

.footer-login > h4 {
    margin: 5px 0px 25px 35px;
}

.footer-login > a {
    text-decoration: none;
    margin: 80px 0px 15px 35px;
    color: var(--black);
    font-weight: bold;
}

.footer-login a:hover {
    color: var(--red);
    font-weight: bold;
    text-decoration: none;
    border-bottom: solid;
}
/*footer user logged out css ends here*/

/*footer user login css begins here*/
.footer-account-profile > h4 {
    margin: 5px 0px 15px 320px;
    padding: 5px;
    font-size: 20px;
} 

#footer-account-profile {
    display: flex;
    margin: -10px 0px 15px 325px;
	padding: 10px 15px;
	border: none;
	border-radius: 4px;
    cursor: pointer;
    font-weight: bold;  
}

.reserved > h3 {
    color: var(--black);   
}
/*footer user login css ends here*/


/*forgot pwd starts here*/
#forgotpwd-container {
    display: flex;
    justify-content: center;
    border-radius: 5px;
    background-color: grey;
    padding: 10px;
	margin: 55px 50px 25px 430px;
	width: 480px;
	height: 250px;
}


.forgotpwd > h2, .forgotpwd > h4 {
    text-align: center;
}

.forgotpwd input {
    width: auto;
    height: 35px;
    border: 1px solid;
    font-weight: bold;
    margin: 10px 100px 15px 95px; 
}

.resetpwd button {
    display: flex;
    width: auto;
    height: auto;
    margin: 15px 0px 35px 120px;
    border-radius: 12px;
}
/*forgot pwd ends here*/

/*containers that can be used on multiple pages*/
.content-container-whole-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.content-container-width-70 {
    display: flex;
    flex-direction: column;
    width: 70%;
    margin: 50px 50px 0 50px;
    padding: 25px;
}

.container-whole-width-row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 0 10%;
}

.container-whole-width-row-2 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    align-self: center;
    padding: 0 40px;
}

.container-cohort-year {
    width: 100%;
}

.container-whole-width-row-graduate-listing {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    align-items: center;
    /* margin: 0 20px; */
    /* padding: 0 10px; */
}

.container-width-30-column {
    display: flex;
    flex-direction: column;
    width: 30%;
    align-items: center;
    /* justify-content: flex-start; */
    /* align-items: flex-start; */
    
}

.container-width-30-column h2 {
    /* justify-content: center; */
    text-align: center;
}

.content-container-width-100-column {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: flex-start;
    /* padding: 0 20px; */
}

.container-modification-height-120 {
    height: 120px;
}

/*end of containers that can be used on multiple pages*/

/* Beginning of Grad Card */
.grad-card-main-container {
    background-color: white;
    margin: 50px 100px;
    border: 2px solid rgb(203, 53, 36);
    padding: 10px;
    display: flex;
 }
.grad-card-left-container {
    width: 50%;
}

.grad-card-right-container {
    width: 50%;
    text-align: right;
}

.grad-card-right-container ul {
    list-style-type: none;
}

.grad-card-headshot img { 
    width: 100px; 
    height: 100px;
    border: 1px solid black;
    border-radius: 100px;
    background-image: url(../images/headshot.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding: 50px;
    margin: 20px;
}

.image-graduates-headshot {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: 1px solid black;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.image-organizations-logo {
    display: flex;
    flex-direction: center;
    align-items: center;
    max-height: 150px;
    height: auto;
    width: 300px;
}

.image-organizations-logo img {
    width: 100%;
    height: auto;
}


/* Responsive Design for Grad Cards starts here*/
@media only screen and (max-width: 600px) {
    .grad-card-headshot-contacts-container {
        display: flex;
        flex-direction: column;
    }
}

/* End of grad Card */

/* Beginning of Org-Card */
.org-card-main-container {
    background-color: white;
    margin: 50px 100px;
    border: 2px solid rgb(203, 53, 36);
    padding: 10px;
}

.org-card-name-logo-container {
    display: flex;
    justify-content: space-between;
}

ul.org-card {
    display: flex;
    flex-wrap: wrap;
    list-style-type: none;
}

.org-card li {
    padding-right: 30px;
}

.org-card li a {
    color: rgb(160, 160, 158);
}

.org-card-buttons-container {
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
}

.org-card-buttons-container button {
    margin-bottom: 3px;
}
/* End of Org Card */

/* Login starts here */
.login-main-container {
    width: 50%;
    text-align: center;
    margin: auto;
    background-color: white;
    border: 1px solid grey;
    margin-top: 50px;
    padding-top: 10px;
}


/* Search Page Starts here */
.search-results-main-container h1 {
    text-align: center;
}

.search-form {
    display: flex;
}
.search-form input {
    margin-right: 5px;
}

.org-name-and-logo-container {
    display: flex;
    align-items: center;
}

.org-name-and-logo-container a {
    margin-right: 20px;
}
.top-half-page {
    margin: auto;
}

.bottom-half-page {
margin-left: 20px;
}
/* Search Page Ends Here */

/* add-experience css starts here */

.add-experience-container{
    border: 2px solid;
    margin: 75px 50px;
}

.add-student-pic{
    margin: 20px 30px;
}

.add-student-pic > h2 {
    font-size: 20px;
    margin: 10px;
}

.title-add-experience{
    text-align: center;
}

.dropdown-options-addexperience{
    display: grid;
    grid-row: span;
}

/* .add-experience-container{
    display: grid;
    border: 1px solid black;
    margin: 75px 50px;
    background-color: var(--light-light-grey);
} */
/* 
.add-student-pic{
    margin: 30px;
    
}  

.title-add-experience{
    text-align: center;
   
}
 
.dropdown-option-addexperience{
    display: flex; 
    margin: 50px auto;
    max-width: 250px;

}   */

/* .add-student-pic{
    width: 150px;
    height: auto;
    border-radius: 15px;
    border: 15px groove;
    margin: 35px 10px 35px 20px;
}

.add-student-name > h2{
    margin: 35px 10px 35px 20px;
    font-size: 25px;
}

.title-add-experience{
    text-align: center;
    margin: -235px 10px 35px 20px;
}

/*add exp: add current org starts here*/
/* .dropdown-current-organization {
    border: 3px groove;
    border-radius: 35px;
    margin: 185px 25px 65px 25px;
}

.dropdown-current-organization > h2 {
    margin: 15px 10px 15px 15px;
    font-size: 22px;
}

#dropdown-menu-button{
    margin: 15px 35px 35px 15px;
}

.adding-new-organization{
    margin: -70px 35px 15px 495px;
}

#exp-current-organization{
    position: absolute;
    height: auto;
    width: auto;
    border-radius: 10px; 
    margin: -55px 35px 15px 895px;
    padding: 10px; 
}    */
/*add exp: add current org ends here*/

/*add exp: add previous org starts here*/
/* .dropdown-previous-organization {
    border: 3px groove;
    border-radius: 35px;
    margin: -35px 25px 65px 25px;  
}

.dropdown-previous-organization > h2 {
    margin: 15px 10px 15px 15px;
    font-size: 22px;
}

.adding-previous-experience{
    margin: -75px 35px 15px 495px;
}

#exp-previous-organization  {
    position: absolute;
    height: auto;
    width: 250px;
    border-radius: 10px; 
    margin: -55px 35px 15px 895px;
    padding: 10px; 
}  */
/*add exp: add previous org ends here*/

/*add exp: add interview starts here*/
/* .dropdown-add-interview{
    border: 3px groove;
    border-radius: 35px;
    margin: -35px 25px 65px 25px;  
}

.dropdown-add-interview >h2{
    margin: 15px 10px 15px 15px;
    font-size: 22px;
}

.add-interview{
    margin: -75px 35px 15px 495px;
}

#add-interview {
    position: absolute;
    height: auto;
    width: auto;
    border-radius: 10px; 
    margin: -55px 35px 15px 895px;
    padding: 10px; 
} */
/*add exp: add interview ends here*/
/* add-experience css ends here */

/*add-org starts here*/
.addorg {
    border: 3px groove;
    border-radius: 50px;
    margin: 95px 125px 65px 125px;
    border-color: var(--red);
    margin: 95px 250px 65px 250px;
}

.addorg-name > h2 {
    text-align: center;
    font-size: 25px;
    margin: 15px 0px 25px 0px;
}

.addorg-name input {
    text-align: center;
    width: 35%;
    border-radius: 5px;
    margin-left: auto;
    margin-right: auto;
}

.addorg-logo > h2 {
    text-align: center;
    font-size: 25px;
    margin: 15px 0px 25px 0px;
}

.addorg-logo input {
    width: 35%;
    border-radius: 2px;
    font-size: 18px;
    margin: 0px 55px 0px 300px;
}

.addorg-URL > h2 {
    text-align: center;
    font-size: 25px;
    margin: 15px 0px 25px 0px;
}

.addorg-URL input {
    text-align: center;
    width: 35%;
    border-radius: 5px;
    margin-left: auto;
    margin-right: auto;
}

.addorg-submit {
    margin: 0px 25px 35px 385px;
}
/*add-org ends here*/


/* collapsibles */
.collapsible-button, .collapsible-button-grad {
    background-color: var(--red);
    color: var(--white);
    cursor: pointer;
    width: 50px;
    height: 50px;
    font-size: 20pt;
    vertical-align: middle;
    border: none;
    text-align: center;
    align-items: center;
    outline: none;
  }
  
.active, .collapsible-button:hover, .collapsible-button:active, .collapsible-button:focus {
    background-color: var(--white);
    color: var(--red);
    border: 1pt solid var(--red);
}

.collapsible-button-cohort {
    display: none;
    background-color: var(--red);
    color: var(--white);
    cursor: pointer;
    width: 50px;
    height: 50px;
    font-size: 20pt;
    vertical-align: middle;
    border: none;
    text-align: center;
    align-items: center;
    outline: none;
}

.container-collapsible-button-cohort {
    margin: 0 10px;
}
  
.content {
    margin: 18px 0 0 0;
    padding: 0 18px;
    display: none;
    overflow: hidden;
    background-color: var(--light-light-grey);
}

.container-collapsible-content {
      display: flex;
      flex-direction: row;
      width: 100%;
}

.container-collapsible-content-orgs {
    display: flex;
    flex-direction: row;
    width: 100%;
}

.container-collapsible-column {
    display: flex;
    flex-direction: column;
    width: 50%;
    padding: 10px 20px 0 10px;
}

.container-collapsible-column a:link,
.container-collapsible-column a:visited {
  color: var(--black);
  text-decoration: none;
}

.container-collapsible-column a:hover,
.container-collapsible-column a:focus,
.container-collapsible-column a:active {
  color: var(--red);
  font-weight: bold;
}

.container-collapsible-column-left {
      display: flex;
      flex-direction: column;
      width: 55%;
      padding: 10px 20px 0 10px;
}

.container-collapsible-column-left a:link,
.container-collapsible-column-left a:visited {
    color: var(--black);
    text-decoration: none;
}

.container-collapsible-column-left a:hover,
.container-collapsible-column-left a:focus,
.container-collapsible-column-left a:active {
    color: var(--red);
    font-weight: bold;
}

.container-collapsible-column-right {
    display: flex;
    flex-direction: column;
    width: 45%;
    padding: 10px 10px 0 10px;
}

.container-collapsible-column-right a:link,
.container-collapsible-column-right a:visited {
  color: var(--black);
  text-decoration: none;
}

.container-collapsible-column-right a:hover,
.container-collapsible-column-right a:focus,
.container-collapsible-column-right a:active {
  color: var(--red);
  font-weight: bold;
}

.container-collapsible-row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    padding: 10px 20px 0 10px;
}

.container-organization-card-buttons {
    background-color: var(--red);
    color: white;
    cursor: pointer;
    width: 200px;
    height: 50px;
    vertical-align: middle;
    border: none;
    text-align: center;
    align-items: center;
    outline: none;
    margin: 0 0 18px 0;
}

.container-organization-card-buttons:hover {
    font-weight: bold;
    color: var(--white);
}

.container-organization-card-buttons a:link,
.container-organization-card-buttons a:visited {
    color: var(--white);
    text-decoration: none;
}

.container-organization-card-buttons a:hover,
.container-organization-card-buttons a:focus,
.container-organization-card-buttons a:active {
    color: var(--white);
    font-weight: bold;
} 

/* Error Page starts here */
.error-number {
    text-align: center;
}

.error-message {
    text-align: center;
}


/* Media queries for organizations.ejs page and graduates.ejs page starts here */
@viewport {
    width: device-width;
    zoom: 1.0 ;
}

@-ms-viewport {
    width: device-width;
}

@media only screen and (max-width: 480px) {   
    .container-whole-width-row {
        flex-wrap: wrap;
        flex-direction: column;
        justify-content: center;
        margin: 20px 10%;
    }

    .image-organizations-logo {
        margin: 10px 0;
    }

    .container-modification-height-120 {
        height: auto;
    }

    .container-whole-width-row-2 {
        flex-direction: column;
    }

    .container-width-30-column {
        width: 100%;
        height: 100px;
        margin: 20px 0;
    }

    .content-container-width-100-column {
        align-items: center;
        display: none;
    }

    .collapsible-button-cohort {
        display: inline-block;
    }

    .container-collapsible-column {
        display: flex;
        flex-direction: column;
        width: 100%;
        padding: 10px 20px 0 20px;
    }

    .container-collapsible-row {
        flex-direction: column;
    }

    .container-collapsible-content-orgs {
        flex-direction: column;
    }

}

@media only screen and (min-width:481px) and (max-width:640px){
    .container-whole-width-row {
        flex-wrap: wrap;
        flex-direction: column;
        justify-content: center;
        margin: 20px 10%;
    }

    .image-organizations-logo {
        margin: 10px 0;
    }

    .container-modification-height-120 {
        height: auto;
    }

    .container-whole-width-row-2 {
        flex-direction: column;
    }

    .container-width-30-column {
        width: 100%;
        height: 50px;
        margin: 20px 0;
    }

    .content-container-width-100-column {
        align-items: center;
        display: none;
    }

    .container-whole-width-row-graduate-listing {
        width: 70%;
    }

    .collapsible-button-cohort {
        display: inline-block;
    }

    .container-collapsible-column {
        display: flex;
        flex-direction: column;
        width: 100%;
        padding: 10px 20px 0 20px;
    }

    .container-collapsible-row {
        flex-direction: column;
    }

    .container-collapsible-content-orgs {
        flex-direction: column;
    }
}

@media only screen and (min-width:641px) and (max-width:841px) {   
    .container-whole-width-row {
        flex-wrap: wrap;
        flex-direction: column;
        justify-content: center;
        margin: 20px 10%;
    }

    .image-organizations-logo {
        margin: 10px;
    }

    .container-modification-height-120 {
        height: auto;
    }

    .container-whole-width-row-2 {
        flex-direction: column;
    }

    .container-width-30-column {
        width: 100%;
        height: 50px;
        margin: 20px 0;
    }

    .content-container-width-100-column {
        align-items: center;
        display: none;
    }

    .container-whole-width-row-graduate-listing {
        width: 70%;
    }

    .collapsible-button-cohort {
        display: inline-block;
    }

    .container-collapsible-column {
        display: flex;
        flex-direction: column;
        width: 100%;
        padding: 10px 20px 0 20px;
    }

    .container-collapsible-row {
        flex-direction: column;
    }

    .container-collapsible-content-orgs {
        flex-direction: column;
    }
}

@media only screen and (min-width:842px) and (max-width:877px) {
    .container-whole-width-row {
        flex-wrap: wrap;
        flex-direction: column;
        justify-content: center;
        margin: 20px 10%;
    }

    .image-organizations-logo {
        margin: 10px;
    }

    .container-modification-height-120 {
        height: auto;
    }

    .container-whole-width-row-2 {
        flex-direction: column;

    }

    .container-width-30-column {
        width: 100%;
        height: 50px;
        margin: 20px 0;
    }

    .content-container-width-100-column {
        align-items: center;
        display: none;
    }

    .container-whole-width-row-graduate-listing {
        width: 60%;
    }

    .collapsible-button-cohort {
        display: inline-block;
    }

    .container-collapsible-column {
        display: flex;
        flex-direction: column;
        width: 100%;
        padding: 10px 20px 0 20px;
    }

    .container-collapsible-row {
        flex-direction: column;
    }

    .container-collapsible-content-orgs {
        flex-direction: column;
    }
}

@media only screen and (min-width:878px) and (max-width:1100px) {
    .container-whole-width-row {
        flex-wrap: wrap;
        flex-direction: column;
        justify-content: center;
        margin: 20px 10%;
    }

    .image-organizations-logo {
        margin: 10px;
    }

    .container-modification-height-120 {
        height: auto;
    }

    .content-container-width-100-column {
        align-items: center;
    }

    .container-whole-width-row-graudate-listing {
        flex-wrap: wrap;
    }

    .image-graduates-headshot {
        margin: 0 10px;
        width: 49px;
        border-radius: 0;
    }

    .collapsible-button-grad {
        margin: 0 10px;
    }

    .container-collapsible-content {
        flex-direction: column;
    }

    .container-collapsible-column {
        display: flex;
        flex-direction: column;
        width: 100%;
        padding: 10px 20px 0 20px;
    }

    .container-collapsible-row {
        flex-direction: column;
    }

    .container-collapsible-content-orgs {
        flex-direction: column;
    }

    .container-collapsible-column-left {
        width: 100%;
    }

    .container-collapsible-column-right {
        width: 100%;
    }

}

@media only screen and (min-width:1101px) and (max-width:1353px) {
    .container-collapsible-content {
        flex-direction: column;
    }

    .container-collapsible-column-left {
        width: 100%;
    }

    .container-collapsible-column-right {
        width: 100%;
    }
}