/* Variables */
:root {
    --red: #CB352A;
    --light-grey: #A0A09E;
    --dark-grey: #343434;
    --white: #ffffff;
    --black: #000000;
    --light-light-grey: #f1f1f1;
  }

body {
    background-color: var(--white);
    size: 100%;
    padding: 0;
    margin: 0;
    font-family: Lato, sans-serif;
}

/* Background and Text Classes */
.red-text {
    color: var(--red);
}

.white-text {
    color: var(--white);
}

.dark-grey-text {
    color: var(--dark-grey);
}

.light-grey-text {
    color: var(--light-grey);
}

.black-text {
    color: var(--black);
}

.red-background {
    background-color: var(--red);
}

.white-background {
    background-color: var(--white);
}

.dark-grey-background {
    background-color: var(--dark-grey);
}

.light-grey-background {
    background-color: var(--light-grey);
}

.black-background {
    background-color: var(--black);
}

.text-center {
    text-align: center;
}

.text-left {
    text-align: left;
}

.font-size-130 {
    font-size: 130%;
}

.border-black-1pt {
    border: 1pt solid var(--black);
}

/* Navbar */
.navbar-container {
    display: flex;
    width: 100%;
}

.navbar-logo-container {
    display: flex;
    justify-content: center;
    width: 20%;
    padding: 10px 0;
}

.navbar-logo-container img{
    width: 140px;
    height: 59px;
}

.navbar-links-container {
    display: flex;
    justify-content: flex-end;
    width: 80%;
    align-items: center;
    margin-right: 20px;
}

.navbar-links-container a {
    margin: 10px 10px;
    padding: 5px;
}

.navbar-links-container a:link,
.navbar-links-container a:visited {
    color: var(--dark-grey);
    text-decoration: none;
}

.navbar-links-container a:hover,
.navbar-links-container a:focus,
.navbar-links-container a:active {
    color: var(--red);
    font-weight: bold;
    text-decoration: none;
    border-bottom: 2px solid;
}

.navbar-dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    z-index: 1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px;
}

.navbar-dropdown:hover {
    color: var(--red);
    font-weight: bold;
    text-decoration: none;
    border-bottom: 2px solid;
}

.navbar-dropdown:hover .dropdown-content {
    color: var(--red);
    font-weight: bold;
    text-decoration: none;
    display: block;  
}

/* Containers */
.whole-width-content-container-with-image {
    display: flex;
    justify-content: center;
    background-image: url(../images/homepage-image.jpg);
    width: 100%;
    height: 500px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.three-quarters-width-content-container-text-over-img {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 75%;
    font-size: 200%;
    color: var(--white);
    text-align: center;
    text-shadow: 2px 2px 30px var(--red);
}
/* Footer begins here */
.footerbar-container{
    height: auto;
    width: auto; 
}

.footerbar-container hr{
    border: 2px solid grey;
    border-radius: 5px;
}
.footerbar-container > h2{
    margin: 0px 0px 15px 32px;
}

.footerbar-container img{
    width: 180px;
    height: 150px;
    margin: 25px 15px 15px 35px;
}

.footer-socialmedia{
    margin: -150px 0px 0px 1035px;  
    padding: 2px; 
}

.footer-socialmedia > h2{
    color: var(--black);
    margin: 0px 35px 0px 0px;
    font-size: 25px;
    font-weight: bold;
}

.footer-socialmedia .symbol{
    margin: 5px 0px 0px 15px;
    font-size: 50px;
}

.footer-quicklinks-container {
    display: flex;
    justify-content: center;
    margin: -145px 550px 0px 0px;
    padding: 2px;
}

.footer-quicklinks-container a {
    display: list-item;
    justify-content: space-evenly;
    text-align: left;
    text-decoration: none;
    color: var(--black);
    margin: 3px;
}

.footer-quicklinks-container a:hover,
.footer-quicklinks-container a:focus,
.footer-quicklinks-container a:active {
    color: var(--red);
    font-weight: bold;
    text-decoration: none;
    border-bottom: solid;
}

.footer-access {
    margin: -125px 35px 0px 595px; 
} 

.footer-access > h2 {
    font-size: 18px; 
    font-weight: bold;
    margin: 15px;
}

.footer-access a.footer-button {
    display: inline-block;
    border-radius: 5px;
    padding: 10px;
    text-decoration: none;
    box-sizing: border-box;
    text-align: center;
    font-weight: 24px;
    font-weight: bold;
    color: var(--black);
    background-color:  var(--light-grey);
    margin: 0px 0px 20px 20px;    
}

.reserved > h3 {
    font-weight: bold;
    font-size: 18px;
    margin: 40px 0px 10px 35px;
}
/*footer css ends here*/

/*forgot pwd starts here*/
#forgotpwd-container{
    display: flex;
    justify-content: center;
    border-radius: 5px;
    background-color: grey;
    padding: 10px;
	margin: 55px 50px 25px 430px;
	width: 480px;
	height: 250px;
}

.forgotpwd > h2, h4{
    text-align: center;
}

.forgotpwd input{
    width: auto;
    height: 35px;
    border: 1px solid;
    font-weight: bold;
    margin: 10px 100px 15px 95px; 
}

.resetpwd button{
    display: flex;
    width: auto;
    height: auto;
    margin: 15px 0px 35px 120px;
    border-radius: 12px;
}
/*forgot pwd ends here*/
/*can be use for other format starts here*/
.content-container-whole-page {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.content-container-width-70 {
    display: flex;
    flex-direction: column;
    width: 70%;
    margin: 50px 50px 0 50px;
    padding: 25px;
}

.container-whole-width-row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 0 10%;
}

.container-modification-height-120 {
    height: 120px;
}

/*can be use for other format ends here*/

 /* Beginning of Grad Card */
 .grad-card-main-container {
    background-color: white;
    margin: 50px 100px;
    border: 2px solid rgb(203, 53, 36);
    padding: 10px;
    display: flex;
 }
 .grad-card-left-container {
    width: 50%;
}

.grad-card-right-container {
    width: 50%;
    text-align: right;
}
.grad-card-right-container ul {
    list-style-type: none;
}

.grad-card-headshot img { 
    width: 100px; 
    height: 100px;
    border: 1px solid black;
    border-radius: 100px;
    background-image: url(../images/headshot.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding: 50px;
    margin: 20px;
}

.image-graduates-headshot {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: 1px solid black;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.image-organizations-logo {
    display: flex;
    flex-direction: center;
    align-items: center;
    max-height: 150px;
    height: auto;
    width: 300px;
    /* border: 1px solid black; */
    /* background-repeat: no-repeat;
    background-position: center center;
    background-size: auto */
}

.image-organizations-logo img {
    width: 100%;
    height: auto;

}



/* Responsive Design for Grad Cards starts here*/
@media only screen and (max-width: 600px) {
    .grad-card-headshot-contacts-container {
        display: flex;
        flex-direction: column;
    }
  }

 /* End of grad Card */

/* Beginning of Org-Card */

.org-card-main-container {
    background-color: white;
    margin: 50px 100px;
    border: 2px solid rgb(203, 53, 36);
    padding: 10px;
}

.org-card-name-logo-container {
    display: flex;
    justify-content: space-between;
}

ul.org-card {
    display: flex;
    flex-wrap: wrap;
    list-style-type: none;
}

.org-card li {
    padding-right: 30px;
}
.org-card li a {
    color: rgb(160, 160, 158);
}

.org-card-buttons-container {
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
}

.org-card-buttons-container button {
    margin-bottom: 3px;
}
/* End of Org Card */

/* Login starts here */
.login-main-container {
    width: 50%;
    text-align: center;
    margin: auto;
    background-color: white;
    border: 1px solid grey;
    margin-top: 50px;
    padding-top: 10px;
}


/* Search Page Starts here */
.search-results-main-container h1 {
    text-align: center;
}

.search-form {
    display: flex;
}
.search-form input {
    margin-right: 5px;
}
.org-name-and-logo-container {
    display: flex;
    align-items: center;
}

.org-name-and-logo-container a {
    margin-right: 20px;
}
.top-half-page {
    margin: auto;
}

.bottom-half-page {
margin-left: 20px;
}
/* Search Page Ends Here */
/* add-experience css starts here */
.addexperience{
    width: auto;
    height: auto;
    border: 5px groove;
    border-radius: 10px;
    margin: 55px 35px 55px 50px;
}

.addstudentpic{
    width: 150px;
    height: auto;
    border-radius: 15px;
    border: 15px groove;
    margin: 35px 10px 35px 20px;
}

.addstudentName > h2{
    margin: 35px 10px 35px 20px;
    font-size: 25px;
}

.title-addexperience{
    text-align: center;
    margin: -235px 10px 35px 20px;
}

/*add exp: add current org starts here*/
.dropdown-current-organization{
    border: 3px groove;
    border-radius: 35px;
    margin: 185px 25px 65px 25px;
}

.dropdown-current-organization >h2{
    margin: 15px 10px 15px 15px;
    font-size: 22px;
}

#dropdownMenuButton{
    margin: 15px 35px 35px 15px;
}

.adding-neworganization{
    margin: -70px 35px 15px 495px;
}

#exp-currentOrganization{
    position: absolute;
    height: auto;
    width: auto;
    border-radius: 10px; 
    margin: -55px 35px 15px 895px;
    padding: 10px; 
}  
/*add exp: add current org ends here*/

/*add exp: add previous org starts here*/
.dropdown-previous-organization{
    border: 3px groove;
    border-radius: 35px;
    margin: -35px 25px 65px 25px;  
}

.dropdown-previous-organization >h2{
    margin: 15px 10px 15px 15px;
    font-size: 22px;
}

.adding-previousexprience{
    margin: -75px 35px 15px 495px;
}

#exp-previousOrganization  {
    position: absolute;
    height: auto;
    width: 250px;
    border-radius: 10px; 
    margin: -55px 35px 15px 895px;
    padding: 10px; 
} 
/*add exp: add previous org ends here*/

/*add exp: add interview starts here*/
.dropdown-addInterview{
    border: 3px groove;
    border-radius: 35px;
    margin: -35px 25px 65px 25px;  
}

.dropdown-addInterview >h2{
    margin: 15px 10px 15px 15px;
    font-size: 22px;
}

.add-Interview{
    margin: -75px 35px 15px 495px;
}

#add-interview{
    position: absolute;
    height: auto;
    width: auto;
    border-radius: 10px; 
    margin: -55px 35px 15px 895px;
    padding: 10px; 
}

/*add exp: add interview ends here*/
/* add-experience css ends here */

/*add-org starts here*/
.addorg{
    border: 3px groove;
    border-radius: 50px;
    margin: 95px 125px 65px 125px;
    border-color: var(--red);
    margin: 95px 250px 65px 250px;
}

.addorg-name > h2{
    text-align: center;
    font-size: 25px;
    margin: 15px 0px 25px 0px;
}

.addorg-name input{
    text-align: center;
    width: 35%;
    border-radius: 5px;
    margin-left: auto;
    margin-right: auto;
}

.addorg-logo > h2{
    text-align: center;
    font-size: 25px;
    margin: 15px 0px 25px 0px;
}

.addorg-logo input{
    width: 35%;
    border-radius: 2px;
    font-size: 18px;
    margin: 0px 55px 0px 300px;
}

.addorg-URL > h2{
    text-align: center;
    font-size: 25px;
    margin: 15px 0px 25px 0px;
}

.addorg-URL input{
    text-align: center;
    width: 35%;
    border-radius: 5px;
    margin-left: auto;
    margin-right: auto;
}

.addorg-submit{
    margin: 0px 25px 35px 385px;
}

/*add-org ends here*/

/* collapsibles */

.collapsible-button {
    background-color: var(--red);
    color: var(--white);
    cursor: pointer;
    width: 50px;
    height: 50px;
    font-size: 20pt;
    vertical-align: middle;
    border: none;
    text-align: center;
    align-items: center;
    outline: none;
    /* align-self: flex-start; */
  }
  
.active, .collapsible-button:hover .collapsible-button:active .collapsible-button:focus {
    background-color: var(--white);
    color: var(--red);
    border: 1pt solid var(--red);
}
  
.content {
    margin: 18px 0 0 0;
    padding: 0 18px;
    display: none;
    overflow: hidden;
    background-color: var(--light-light-grey);
}

.container-collapsible-content {
      display: flex;
      flex-direction: row;
      width: 100%;
}

.container-collapsible-column {
      display: flex;
      flex-direction: column;
      width: 50%;
      padding: 10px 20px 0 10px;
}

.container-collapsible-column a:link,
.container-collapsible-column a:visited {
    color: var(--black);
    text-decoration: none;
}

.container-collapsible-column a:hover,
.container-collapsible-column a:focus,
.container-collapsible-column a:active {
    color: var(--red);
    font-weight: bold;
    /* text-decoration: underline; */
    /* border-bottom: 2px solid; */
}

.container-collapsible-row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    padding: 10px 20px 0 10px;
}

.container-organization-card-buttons {
    background-color: var(--red);
    color: white;
    cursor: pointer;
    width: 200px;
    height: 50px;
    vertical-align: middle;
    border: none;
    text-align: center;
    align-items: center;
    outline: none;
    margin: 0 0 18px 0;
}

.container-organization-card-buttons:hover {
    font-weight: bold;
    color: var(--white);
}

.container-organization-card-buttons a:link,
.container-organization-card-buttons a:visited {
    color: var(--white);
    text-decoration: none;
}

.container-organization-card-buttons a:hover,
.container-organization-card-buttons a:focus,
.container-organization-card-buttons a:active {
    color: var(--white);
    font-weight: bold;
} 
