a {
    text-decoration: none;
}
body {
    background-color: black;
    font: ;
}
h1, h2, h3, h4, h5, h6 {
    color: rgb(203, 53, 36);
}
/* Organization Card Styles start here */
.org-card-main-container {
    background-color: white;
    margin: 50px 100px;
    border: 2px solid rgb(203, 53, 36);
    padding: 10px;
}

.org-card-name-logo-container {
    display: flex;
    justify-content: space-between;
}
.org-card-name {
    
}
.org-card-logo {
}

ul.org-card {
    display: flex;
    flex-wrap: wrap;
    list-style-type: none;
    
}

.org-card li {
    padding-right: 30px;
}
.org-card li a {
    color: rgb(160, 160, 158);
}

.org-card-buttons-container {
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
}

.org-card-buttons-container button {
    margin-bottom: 3px;
}

/* Graduate Card Styles start here */
.grad-card-main-container {
    background-color: white;
    margin: 50px 100px;
    border: 2px solid rgb(203, 53, 36);
    padding: 10px;
}

.grad-card-headshot-contacts-container {
    display: flex;
    justify-content: space-between;
}

.grad-card-headshot {
    width: 100px; 
    height: 100px;
    border: 1px solid black;
    border-radius: 100px;
    background-image: url(../images/headshot.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding: 50px;
    margin: 20px;
}

/* .codesquad-logo-container {
    background-image:url(../images/codesquad-logo.png);
    background-repeat: no-repeat;
    background-position: center; 
} */

/* Responsive Design for Grad/Org Cards starts here*/
@media only screen and (max-width: 600px) {
    .grad-card-headshot-contacts-container {
        display: flex;
        flex-direction: column;
    }
  }
