/* Variables */
:root {
    --red: #CB352A;
    --light-grey: #A0A09E;
    --dark-grey: #343434;
    --white: #ffffff;
    --black: #000000;
  }

body {
    background-color: var(--white);
    size: 100%;
    padding: 0;
    margin: 0;
    font-family: Lato, sans-serif;
}

/* Background and Text Classes */
.red-text {
    color: var(--red);
}

.white-text {
    color: var(--white);
}

.dark-grey-text {
    color: var(--dark-grey);
}

.light-grey-text {
    color: var(--light-grey);
}

.black-text {
    color: var(--black);
}

.red-background {
    background-color: var(--red);
}

.white-background {
    background-color: var(--white);
}

.dark-grey-background {
    background-color: var(--dark-grey);
}

.light-grey-background {
    background-color: var(--light-grey);
}

.black-background {
    background-color: var(--black);
}

.text-center {
    text-align: center;
}

.text-left {
    text-align: left;
}

.font-size-130 {
    font-size: 130%;
}

/* Navbar */
.navbar-container {
    display: flex;
    width: 100%;
}

.navbar-logo-container {
    display: flex;
    justify-content: center;
    width: 20%;
    padding: 10px 0;
}

.navbar-logo-container img{
    width: 140px;
    height: 59px;
}

.navbar-links-container {
    display: flex;
    justify-content: flex-end;
    width: 80%;
    align-items: center;
    margin-right: 20px;
}

.navbar-links-container a {
    margin: 10px 10px;
    padding: 5px;
}

.navbar-links-container a:link,
.navbar-links-container a:visited {
    color: var(--dark-grey);
    text-decoration: none;
}

.navbar-links-container a:hover,
.navbar-links-container a:focus,
.navbar-links-container a:active {
    color: var(--red);
    font-weight: bold;
    text-decoration: none;
    border-bottom: 2px solid;
}

.navbar-dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    z-index: 1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px;
}

.navbar-dropdown:hover {
    color: var(--red);
    font-weight: bold;
    text-decoration: none;
    border-bottom: 2px solid;
}

.navbar-dropdown:hover .dropdown-content {
    color: var(--red);
    font-weight: bold;
    text-decoration: none;
    display: block;  
}

/* Containers */
.whole-width-content-container-with-image {
    display: flex;
    justify-content: center;
    background-image: url(../images/homepage-image.jpg);
    width: 100%;
    height: 500px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.three-quarters-width-content-container-text-over-img {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 75%;
    font-size: 200%;
    color: var(--white);
    text-align: center;
    text-shadow: 2px 2px 30px var(--red);
}
/* Footer begins here */
.footerbar-container{
    background-color: var(--light-grey);
    height: auto;
    width: auto;
}

.footerbar-container h2{
    margin: 0px 0px 0px 32px;
}

.footerbar-container img{
    width: 180px;
    height: 150px;
    margin: 25px 15px 0px 35px;
}

.footer-socialmedia{
    margin: -110px 0px 0px 1035px;  
    padding: 2px; 
}

.footer-socialmedia > h2{
    color: var(--black);
    margin: 0px 35px 0px 0px;
}

.footer-socialmedia .symbol{
    margin: 5px;
    font-size: 40px;
}

.footer-quicklinks-container {
    display: flex;
    justify-content: center;
    margin: -115px 85px 0px 0px;
    padding: 2px;
}

.footer-quicklinks-container a {
    display: list-item;
    justify-content: space-evenly;
    text-align: left;
    text-decoration: none;
    color: var(--black);
    margin: 3px;
}

.footer-quicklinks-container a:hover,
.footer-quicklinks-container a:focus,
.footer-quicklinks-container a:active {
    color: var(--red);
    font-weight: bold;
    text-decoration: none;
    border-bottom: solid;
}
/*footer user logged out css begins here*/
.footer-signup{
    display: flex;
    justify-content: space-evenly;
    margin: 85px 1100px 25px 0px;
    padding: 3px;
} 

.footer-signup input{
    width: 100%;
	padding: 10px;
	border: 1px solid #ccc;
	border-radius: 4px;
	box-sizing: border-box;
	margin-top: 1px;
	margin-bottom: 16px;
    font-weight: bold;
}
#footer-joinnow {
    display: flex;
    margin: -80px 0px 10px 285px;
	padding: 10px 15px;
	border: none;
	border-radius: 4px;
    cursor: pointer;
    font-weight: bold;  
}   

.footer-login > h4 {
    margin: 5px 0px 25px 35px;
}

.footer-login > a{
    text-decoration: none;
    margin: 80px 0px 15px 35px;
    color: var(--black);
    font-weight: bold;
}

.footer-login a:hover{
    color: var(--red);
    font-weight: bold;
    text-decoration: none;
    border-bottom: solid;
}
/*footer user logged out css begins here*/

/*footer user login css begins here*/
.footer-account-profile > h4{
    margin: 5px 0px 15px 320px;
    padding: 5px;
    font-size: 20px;
} 

#footer-account-profile{
    display: flex;
    margin: -10px 0px 15px 325px;
	padding: 10px 15px;
	border: none;
	border-radius: 4px;
    cursor: pointer;
    font-weight: bold;  
}

.reserved > h3{
    color: var(--black);   
}
/*footer user login css ends here*/

/*can be use for other format starts here*/
.content-container-whole-page {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.content-container-width-70 {
    display: flex;
    flex-direction: column;
    width: 70%;
    margin: 50px;
    padding: 25px;
}
/*can be use for other format ends here*/

 /* Beginning of Grad Card */
 .grad-card-main-container {
    background-color: white;
    margin: 50px 100px;
    border: 2px solid rgb(203, 53, 36);
    padding: 10px;
}

.grad-card-headshot-contacts-container {
    display: flex;
    justify-content: space-between;
}

.grad-card-headshot {
    width: 100px; 
    height: 100px;
    border: 1px solid black;
    border-radius: 100px;
    background-image: url(../images/headshot.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding: 50px;
    margin: 20px;
}

/* Responsive Design for Grad Cards starts here*/
@media only screen and (max-width: 600px) {
    .grad-card-headshot-contacts-container {
        display: flex;
        flex-direction: column;
    }
  }

 /* End of grad Card */

/* Beginning of Org-Card */

.org-card-main-container {
    background-color: white;
    margin: 50px 100px;
    border: 2px solid rgb(203, 53, 36);
    padding: 10px;
}

.org-card-name-logo-container {
    display: flex;
    justify-content: space-between;
}

ul.org-card {
    display: flex;
    flex-wrap: wrap;
    list-style-type: none;
}

.org-card li {
    padding-right: 30px;
}
.org-card li a {
    color: rgb(160, 160, 158);
}

.org-card-buttons-container {
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
}

.org-card-buttons-container button {
    margin-bottom: 3px;
}
/* End of Org Card */

/* Login starts here */
.login-main-container {
    width: 50%;
    text-align: center;
    margin: auto;
    background-color: white;
    border: 1px solid grey;
    margin-top: 50px;
    padding-top: 10px;
}
